<footer>
    <div class="main-footer">
        <div class="div-content-logoFooter">
            <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logofooter">  
        </div>
        <ul class="footer-links">
            <li>Enlaces</li>
            <li><a href="/product/productPage">Tienda </a></li>
            <li><a href="/quienesSomos">Quienes somos </a></li>
            <li><a href="/recetas/nuestrasRecetas">Nuestras Recetas </a></li>
        </ul>
        <ul class="footer-social-media">
            <li>Contacto</li>
            <br>
            <li><a href="https://api.whatsapp.com/send?phone=+5491128590700&text=Hola%20quiero%20una%20cerveza=)." target="_blank">  +54 9 11 12344567<i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://instagram.com/chec.cerveceria?utm_medium=copy_link" target="_blank"> @cervezaChec<i class="fab fa-instagram"></i></a></li>
            <!-- <li><a href="" >  /checCerveceria<i class="fab fa-facebook"></i></a></li>
            <li><a href="" ></i>  chec@cerveza.com.ar<i class="far fa-envelope"></i></a></li> -->
        </ul>
    </div>
    <div class="copyright">
        Copyright © 2022 - All rights reserved - Created by Grupo 8
    </div>
</footer>