<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include("./partials/head") %>
<body>    
    <!-- Header-->
    <%- include("./partials/header") %>
    <div class="content"></div>
        <div class="enDesarrollo">
            <h1>404 - Nada por acá.</h1>
            <h1>¯\_(ツ)_/¯</h1>
        </div>
    </div>
    <!-- Footer-->
    <%- include("./partials/footer") %>
</body>
</html>
