<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/Desing/Logo-Etiqueta-Originals/fav-icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Montagu+Slab&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1eb023256c.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <script>
        function closeSection(){
            console.log("acaEstoy")
            element = document.getElementById("suscribe-section");
            element.style.opacity= "0";
        }
    </script>
</head>
<body class="ind-body">
    <header class="main-header">
        <nav class="main-navbar">
            <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logo">
            <ul class="left-navbar">                
                <li><a href="/">Home </a></li>
                <li><a href="/notFound">Quienes somos </a></li>
                <li><a href="/notFound">Nuestras Recetas </a></li>
                <li><a href="/notFound">Contactanos </a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>
                    <div class="pd-pc-links">
                        <a href="/productPage" class="tienda-botton">Tienda</a>
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </li>
            </ul>
        </nav> 
        <div class="secondary-navbar">
            <div class="hamburguer-button">
                <i class="fas fa-bars"></i> 
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Busca aquí">                
                <a href="#" class="lupa"><i class="fas fa-beer"></i></a>
            </div> 
            <div class="social-media-bar">
                <a href="#" class="redes2"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="redes2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="redes2"><i class="fab fa-instagram"></i></a>
            </div>           
        </div>
    </header>
    <section class="ind-top">
        
        <div class="reel-1">
            <img src="/images/beerJar.jpg" alt="">       
        </div>
        <div class="reel-2">
            <img src="/images/beerGlasses.jpg" alt="">       
        </div>
        <div class="reel-3">
            <img src="/images/beerJar.jpg" alt="">       
        </div>
        <div class="reel-4">
            <img src="/images/beerGlasses.jpg" alt="">       
        </div>
    </section>
    <section class="ind-middle">
     <div class="left-content">
        <div class="best">
        <article class="art-1">
            <img src="/Desing/Logo-Etiqueta-Originals/480x480original.png" alt="" > 
        </article>
        <h3> CONOCÉ NUESTROS PRODUCTOS DESTACADOS</h3>
            <h4>   Sus caracteristicas y proceso de producción.</h4>
                <h4>  Los secretos de su cocina.</h4>
        
         <button class="art-1">
         <h4>  <a href="/productDetail"></a> INGRESÁ </h4>
        </button>
    </div>
    </div>
    <div class="right-content">
        
        <article class="art-3">
                <h4>Cuando abrimos una cerveza, es seguramente porque  estamos disfrutando un momento de placer, solos o acompañados de familia, amigos, sonrisas y anécdotas para compartir. Compartiendo una picada, un asado o una buena comida,</h4>
                <h4 class="bold"> abrir una buena cerveza de Calidad y hecha para todos los gustos, sin dudas marca la diferencia.</h4>
                 <h4>   Mientras disfrutamos, se pierde la nocion del tiempo y la sobremesa se extiende. </h4>
               <h3> Un aplauso para el anfitrion, y seguro hay un próximo encuentro </h3>
        </article>
        
    </div>
</section>
 <section class="bottom-content">

 <div class="bottom-content">
        <article class="art-2">
            <img src="/images/bottle.jpg" alt="">
        </article>
        <article class="art-4">
            <img src="/images/beerGlasses.jpg" alt="" > 
        </article>
        <article class="art-5">
            <img src="/images/beerJar.jpg" alt="" > 
        </article>
    </div>
</section>   
  
    <section class="ind-bottom">
    <div class="ind-map-env-pag">
        <a class="ind-bottom" href="/mapa-envios">Zonas de influencia </a>
        <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="ind-map-env-pag">
        <a class="ind-bottom" href="/metodos-envios">Métodos de Envios </a>
        <i class="fas fa-motorcycle"></i>
    </div>
    <div class="ind-map-env-pag">
        <a class="ind-bottom" href="/metodos-pagos">Formas de Pago </a> 
        <i class="fas fa-hand-holding-usd"></i>
    </div>
    </section>
    <div class="testDiv">
        

    </div>

    <div class="suscribe-section" id="suscribe-section">
        <div class="suscribe-container">
            <p class="suscribe-text">Dejanos tu mail y recibí todas nuestras ofertas <i class="fa-solid fa-hands-clapping"></i></p>           
            <input type="text" class="suscribe-input-text" placeholder="ingresa tu mail">                
        </div> 
        <i class="fas fa-times"  onclick="closeSection()"></i>       
    </div>
<footer>
    <div class="main-footer">
        <div class="div-content-logoFooter">
            <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logofooter">  
        </div>
        <ul class="footer-links">
            <li>Enlaces</li>
            <li><a href="">Tienda </a></li>
            <li><a href="">Quienes somos </a></li>
            <li><a href="">Nuestras Recetas </a></li>
        </ul>
        <ul class="footer-social-media">
            <li>Contacto</li>
            <li><a href="" >  +54 9 11 12344567<i class="fab fa-whatsapp"></i></a></li>
            <li><a href="" > @cervezaChec<i class="fab fa-instagram"></i></a></li>
            <li><a href="" >  /checCerveceria<i class="fab fa-facebook"></i></a></li>
            <li><a href="" ></i>  chec@cerveza.com.ar<i class="far fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyright © 2022 - All rights reserved - Created by Grupo 8
    </div>
</footer>
</body>
</html>