<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/Desing/Logo-Etiqueta-Originals/fav-icon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Montagu+Slab&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1eb023256c.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-navbar">
            <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logo">
            <ul class="left-navbar">                
                <li><a href="/">Home </a></li>
                <li><a href="">Quienes somos </a></li>
                <li><a href="/productPage">Nuestras Recetas </a></li>
                <li><a href="">Contactanos </a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/login.html">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/productDetail" class="tienda-botton">Tienda<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav> 
        <div class="secondary-navbar">
            <div class="hamburguer-button">
                <i class="fas fa-bars"></i> 
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Busca aquí">                
                <a href="#" class="lupa"><i class="fas fa-beer"></i></a>
            </div> 
            <div class="social-media-bar">
                <a href="#" class="redes2"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="redes2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="redes2"><i class="fab fa-instagram"></i></a>
            </div>           
        </div>
    </header>
    <section>
        <div class="lg-div-form">
            <div class="lg-div-login">
                <button><i class="fa-brands fa-google"> Ingresar con Google </i></button>
                <button><i class="fa-brands fa-facebook-f"> Ingresar con Facebook </i></button>
            </div>
            <form action="" class="lg-form-login">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Contraseña">
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </section>
    <div class="suscribe-section">
        <h5 class="suscribe-text">Dejanos tu mail y recibí todas nuestras ofertas <i class="fa-solid fa-hands-clapping"></i></h5>
        <div class="suscribe-bar">            
            <input type="text" class="suscribe-input-text" placeholder="ingresa tu mail">                
            <i class="fas fa-times"></i>
        </div> 
        
    </div>
<footer>
    <div class="main-footer">
        <div class="div-content-logoFooter">
            <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logofooter">  
        </div>
        <ul class="footer-links">
            <li>Enlaces</li>
            <li><a href="">Tienda </a></li>
            <li><a href="">Quienes somos </a></li>
            <li><a href="">Nuestras Recetas </a></li>
        </ul>
        <ul class="footer-social-media">
            <li>Contacto</li>
            <li><a href="" >  +54 9 11 12344567<i class="fab fa-whatsapp"></i></a></li>
            <li><a href="" > @cervezaChec<i class="fab fa-instagram"></i></a></li>
            <li><a href="" >  /checCerveceria<i class="fab fa-facebook"></i></a></li>
            <li><a href="" ></i>  chec@cerveza.com.ar<i class="far fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyright © 2022 - All rights reserved - Created by Grupo 8
    </div>
</footer>
</body>
</html>