<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("./partials/head") %>

    <body>
        <!-- Header-->
        <%- include("./partials/header") %>

            <section class="nc-container">
            <div class="nc-information">
                <h4>Básicos</h4>
                <ul class="pd-beer-attributes">
                    <li>
                        <h6>Volumen: </h6>
                        <p>20 lts.</p>
                    </li>
                    <li>
                        <h6>Volumen de hervor: </h6>
                        <p>2r lts.</p>
                    </li>
                    <li>
                        <h6>Alcohol: </h6>
                        <p>5%</p>
                    </li>
                    <li>
                        <h6>Densidad: </h6>
                        <p>1053</p>
                    </li>
                    <li>
                        <h6>SRM: </h6>
                        <p> 7 </p>
                    </li>
                    <li>
                        <h6>PH: </h6>
                        <p> 4.4 </p>
                    </li>
                    <li>
                        <h6>Nivel de atenuación: </h6>
                        <p> 78%</p>
                    </li>
                </ul>
            </div>

            <div class="nc-information">
                <h4>Método y tiempos</h4>
                <ul class="pd-beer-attributes">
                    <li>
                        <h5>Macerado: </h5>
                        <p>66°  -  75 min.</p>
                    </li>
                    <li>
                        <h5>Fermentación: </h5>
                        <p>19°</p>
                    </li>
                </ul>
            </div>

            <div class="nc-information">
                <h4>Ingredientes</h4>
                <ul class="pd-beer-attributes">
                    <li>
                        <h5>Maltas: </h5>
                        <h6>Pale:</h6>
                        <h6>Caramelo:</h6><p>Caramelo:</p>
                    </li>
                    <li>
                        <h5>Fermentación: </h5>
                        <p>19°</p>
                    </li>
                </ul>
            </div>



            </section>

            <section class="nc-process">
                <h4>Nuestro proceso</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni, eligendi ab in veritatis
                    odit iure nulla suscipit, veniam officiis fuga quam aut distinctio sed ut excepturi, id aliquid
                    aliquam.</p>
                </br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni, eligendi ab in veritatis
                    odit iure nulla suscipit, veniam officiis fuga quam aut distinctio sed ut excepturi, id aliquid
                    aliquam.</p>
                </br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni, eligendi ab in veritatis
                    odit iure nulla suscipit, veniam officiis fuga quam aut distinctio sed ut excepturi, id aliquid
                    aliquam.</p>
                </br>
            </section>


            <!-- Footer-->
            <%- include("./partials/footer") %>
    </body>

</html>