<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/Desing/Logo-Etiqueta-Originals/fav-icon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Montagu+Slab&family=Roboto&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/1eb023256c.js" crossorigin="anonymous"></script>
    <title>PaginaProducto </title>
</head>

<body>
    <header class="main-header">
        <nav class="main-navbar">
            <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logo">
            <ul class="left-navbar">                
                <li><a href="/">Home </a></li>
                <li><a href="/notFound">Quienes somos </a></li>
                <li><a href="/notFound">Nuestras Recetas </a></li>
                <li><a href="/notFound">Contactanos </a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>
                    <div class="pd-pc-links">
                        <a href="/productPage" class="tienda-botton">Tienda</a>
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="secondary-navbar">
            <div class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Busca aquí">
                <a href="#" class="lupa"><i class="fas fa-beer"></i></a>
            </div>
            <div class="social-media-bar">
                <a href="#" class="redes2"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="redes2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="redes2"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </header>


    <main class="pc-main">
        <section class="pc-cart">
            <div class="pc-product-carrito"> 
                <h4>Producto</h4>
            
                <div class="pc-product">
                    <img class="pc-img-product" src="/images/img-beer-temporary.jpg" alt="beer">
                </div>
            </div>
            <div class="pc-product-group">
                <div class="pc-product-label">
                    
                    <div class="pc-botton-inv"></div>
                    <label class="pc-quantity-label-det" for="botella500"><input type="checkbox" id="botella500" value="botella500">Botella 500 ml</label>
                    <label class="pc-quantity-label-det" for="botella1l"><input type="checkbox" id="botella500" value="botella500">Botella 1 lt</label>
                    <label class="pc-quantity-label-det" for="pack6500"><input type="checkbox" id="botella500" value="botella500">Pack x 6 - 500 ml</label>
                    <label class="pc-quantity-label-det" for="pack61l"><input type="checkbox" id="pack61l" value="pack61l">Pack x 6 - 1 lt</label>
                    <div class="pc-botton-inv"></div>
               </div>
                <div class="pc-product-cantidad">
    
                    <h4>Cantidad </h4>
                    
    
                    <div class="pc-product-cantidad-combinada">
                        <i class="fas fa-minus"></i>
                        <input type="number" class="pc-product-quantity" step="1" min="1" max="17" 
                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric" name="productOption">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="pc-product-cantidad-combinada">
                        <i class="fas fa-minus"></i>
                        <input type="number" class="pc-product-quantity" step="1" min="1" max="17" 
                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric" name="productOption">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="pc-product-cantidad-combinada">
                      
                        <i class="fas fa-minus"></i>
                        <input type="number" class="pc-product-quantity" step="1" min="1" max="17" 
                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric" name="productOption">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="pc-product-cantidad-combinada">
                        
                        <i class="fas fa-minus"></i>
                        <input type="number" class="pc-product-quantity" step="1" min="1" max="17" 
                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric" name="productOption">
                        <i class="fas fa-plus"></i>
                    </div>
                    
                    <button class="pc-options-button">Limpiar</button>
                    
                </div>

            </div>

            

            <div class="pc-product-precio">
                <h4>Precio</h4>
                <div class="pd-datos-cerveza">
                    <h4>$ 250</h4>
                </div>
            </div>
            
            <button class="pc-eliminar"> <i class="fas fa-trash-alt"></i></button>
            
            
    </main>
    <section class="pc-bottom-content">
        <div class="pc-label-total-group">
            <label class="pc-label-envio" for="label-envio">Envio a:</label>
            <p class="pc-label-envio-direccion" for="label-envio">Independencia 717. Piso 1 Dto "A".</p>
        </div>
        
        <div class="pc-label-total-group">
            <p class="pc-label-totalenvio" for="label-totalenvio">Total con envio: </p>
            <h2><label class="pc-txtLabel-totalenvio" for="txtLabel-totalenvio">   $ 1200 </label></h2>
        </div>
        
    </section>  
    
    <div class="pc-options">
        <button class="pc-options-button">Finalizar Compra</button>
    </div>
    
    <footer>
        <div class="main-footer">
            <div class="div-content-logoFooter">
                <img src="/Desing/Logo-Etiqueta-Originals/540x540sqr.png" class="logofooter">
            </div>
            <ul class="footer-links">
                <li>Enlaces</li>
                <li><a href="">Tienda </a></li>
                <li><a href="">Quienes somos </a></li>
                <li><a href="">Nuestras Recetas </a></li>
            </ul>
            <ul class="footer-social-media">
                <li>Contacto</li>
                <li><a href=""> +54 9 11 12344567<i class="fab fa-whatsapp"></i></a></li>
                <li><a href=""> @cervezaChec<i class="fab fa-instagram"></i></a></li>
                <li><a href=""> /checCerveceria<i class="fab fa-facebook"></i></a></li>
                <li><a href=""></i> chec@cerveza.com.ar<i class="far fa-envelope"></i></a></li>
            </ul>
        </div>
        <div class="copyright">
            Copyright © 2022 - All rights reserved - Created by Grupo 8
        </div>
    </footer>

</body>

</html>