<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Montagu+Slab&family=Roboto&display=swap" rel="stylesheet">
    <title>CHEC</title>
</head>
<body>
    <header>
        <p>HEADER Se copiará de Index</p>
    </header>

    <main>
        <section>
            <div class="product">
                <img src="/images/img-beer-temporary.jpg" alt="beer">
                <h4>IPA</h4>
                <h4>$ 250</h4>
                <button>Seleccionar</button>
            </div>

            <div class="product">
                <img src="/images/img-beer-temporary.jpg"  alt="beer">
                <h4>Golden Ale</h4>
                <h4>$ 200</h4>
                <button>Seleccionar</button>
            </div>
            
            <div class="product">
                <img src="/images/img-beer-temporary.jpg"  alt="beer">
                <h4>Irish Red</h4>
                <h4>$ 200</h4>
                <button>Seleccionar</button>
            </div>

            <div class="product">
                <img src="/images/img-beer-temporary.jpg" width="360" alt="beer">
                <h4>Stout</h4>
                <h4>$ 200</h4>
                <button>Seleccionar</button>
            </div>

            <div class="product">
                <img src="/images/img-beer-temporary.jpg" width="360" alt="beer">
                <h4>Honey</h4>
                <h4>$ 200</h4>
                <button>Seleccionar</button>
            </div>

            <div class="pack-customized">
                <img src="/images/img-beer-temporary.jpg" width="360" alt="beer">
                <h4>Pack Personalizado</h4>
                <h4>Desde $ 600</h4>
                <button>Seleccionar</button>
            </div>

        </section>
    
    <footer>
        <p>FOOTER Se copiará de Index</p>
    </footer>
</body>
</html>