<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Montagu+Slab&family=Roboto&display=swap" rel="stylesheet">
    <title>CHEC</title>
</head>
<body>
    <header>
        <p>HEADER Se copiará de Index</p>
    </header>

    <section>

        <div class="product-imgs">
            <img src="/images/img-beer-temporary.jpg" width="360" alt="beer">
            <img src="/images/img-beer-temporary.jpg" width="360" alt="beer">
            <img src="/images/img-beer-temporary.jpg" width="360" alt="beer">
        </div>

        <div>
            <h4>Stout</h4>
            <p>Cerveza negra con notas a café y chocolate levemente lupulada y moderada en alcohol.</p>
            <ul>
                <li><h5>Amargor:</h5> <p>30%</p></li>
                <li><h5>Alcohol:</h5> <p>6 V/V</p></li>
                <li><h5>Color:</h5> <p>35 SRM</p></li>
                <li><h5>Lúpulo/s:</h5> <p>Cascade</p></li>
            </ul>
        </div>

        <form>
            <input type='checkbox' name="productOption">Botella 500 ml
            <input type='checkbox' name="productOption">Botella 1 lt
            <input type='checkbox' name="productOption">Pack x 6 - 500 ml
            <input type='checkbox' name="productOption">Pack x 6 - 1 lt
        </form>

        <div>
            <button>Comprar</button>
            <button>Agregar al carrito</button>
        </div>

        
    </section>
    
    <footer>
        <p>FOOTER Se copiará de Index</p>
    </footer>
</body>
</html>