<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("./partials/head") %>

<body>
    <!-- Header-->
    <%- include("./partials/header") %>

    <section class="pd-quienes-somos-area">

        <div class="pd-quienes-somos-right">
            <div class="slider qs-img-container">
                <ul>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659400606/images/DSC_0527_wmm5yz.jpg" alt="image slider" class="slider-img"></li>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659400604/images/DSC_0575_jr7og4.jpg" alt="image slider" class="slider-img"></li>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659400601/images/DSC_0618_h8yjcb.jpg" alt="image slider" class="slider-img"></li>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659400590/images/DSC_0543_dryby2.jpg" alt="image slider" class="slider-img"></li>
                </ul>
            </div>
            <div>
                <h6>Nosotros</h6>
                <p>Somos un grupo de amigos del conurbano sur bonaerense. Nos proponemos elaborar profesionalmente una variedad de cervezas artesanales amigables al paladar local combinada con sabores nuevos y propios, brindado un servicio de entrega para hacer llegar el producto final a los consumidores de manera cómoda y eficiente.</p>
            </div>
        </div>

        <div class="pd-quienes-somos-left">
            <div class="slider qs-img-container">
                <ul>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659118722/images/DSC_0005_o72uoh.jpg" alt="image slider" class="slider-img"></li>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659118785/images/DSC_0007_lo0meb.jpg" alt="image slider" class="slider-img"></li>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659118707/images/DSC_0004_mbapmg.jpg" alt="image slider" class="slider-img"></li>
                    <li><img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659118686/images/DSC_0014_xax5nj.jpg" alt="image slider" class="slider-img"></li>
                </ul>
            </div>
            <div>
                <h6>La cervecería</h6>
                <p>CHEC es una cervecería artesanal gestada por un grupo de amigos en Gerli, Provincia de Buenos Aires.
                    Nació como un juego entre hermanos, pero rápidamente se convirtió en un lindo emprendimiento comercial.
                    Cervezas Hechas En Casa, con Calidad.</p>
                    <p>¡Una rica selecección de variedades para compartir con vos!</p>
            </div>

        </div>



    </section>
    
    <div style="margin-top:175px"> </div>
    <%- include("./partials/footer") %>
</body>

</html>