<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("./partials/head") %>

<body>
    <!-- Header-->
    <%- include("./partials/header") %>

    <section class="pd-quienes-somos-area">

        <div class="pd-quienes-somos-right">
            <img src="/images/img-beer-temporary.jpg" alt="beer">
            <div>
                <h6>Nosotros</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt alias tempora quod eius veritatis,
                    ullam deleniti, officia, quisquam repudiandae perspiciatis explicabo harum. Impedit esse, mollitia
                    consequuntur pariatur dolores consectetur beatae!</p>
            </div>
        </div>

        <div class="pd-quienes-somos-left">
            <img src="/images/img-beer-temporary.jpg" alt="beer">
            <div>
                <h6>La cervecería</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt alias tempora quod eius veritatis,
                    ullam deleniti, officia, quisquam repudiandae perspiciatis explicabo harum. Impedit esse, mollitia
                    consequuntur pariatur dolores consectetur beatae!</p>
            </div>

        </div>



    </section>
    </div>
    <!-- Footer-->
    <%- include("./partials/footer") %>
</body>

</html>