*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

a{text-decoration: none;}

/*HEADER CON FONDO NEGRO*/
.main-header {
    font-family: 'Montagu Slab', serif;
    background-color: #000000;
    width: 100%;
}

.logo{
    width: 100px;
}
/*Texto: "Cerveza hecha en casa*/
.text-header{
    font-size: 18px;
    color: #ffDA4D;
    text-align: center;
    font-weight: 300;
}

.main-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-navbar a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
    padding: 5px 2px;
    font-size: 12px;
}

a:hover{
   color: #ff6200;
}

.main-navbar ul{
    list-style: none;
}

.logo{
    margin:10px 0;
    flex:100%
}

.left-navbar{
    display: none;
}

.rigth-navbar{
    display: none;
}


.hamburguer-button{
    background-color: #ff6200;
    color:#ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    width: 30px;
    display: inline-block;
    padding: 5px 0;
}

.secondary-navbar{
    background-color: #c4c4c4;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-bar{
    display: flex;    
}

.search-bar input{
    border: 0;
}

.lupa{
    padding: 5px 2px;
    color: #ff6200;
    text-decoration: none;
    background-color: #fff;
    margin-top: 1px;
}


.social-media-bar a{
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;  /*convierte las lineas de la lista en bloque para poder darles un padding*/
    padding: 5px 2px;
    font-size: 17px;
}


/*POP UP*/
.suscribe-section{
    position: fixed;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;    
    padding: 5px;
    transition-property: opacity;
    transition-duration: 200ms;
}
/*FIN POP UP*/

/*FOOTER*/
.main-footer{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.logofooter{
    width: 90px;
    margin: 10px;
    
}


.suscribe-text{
    font-family: 'Montagu Slab', serif;
    flex: 100%;
}

.suscribe-input-text{
    flex:0.75;
    max-width: 200px;
}

.suscribe-bar{
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-links {
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    margin: 5px 5px;
}

.footer-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    margin: 5px 5px;
}

.footer-social-media{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    margin: 5px 5px;
}

.footer-social-media a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    margin: 5px 5px;
   
}

.copyright{
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    display: block;
    border-top: 1px solid white;

}
  /*Pagina de Login*/

  .lg-div-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50vw;
    max-width: 300px;
    margin: 15px auto;
}

.lg-div-login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lg-form-login{
    display: flex;
    flex-direction: column;
    width: 100%;margin-top: 15px;
}

/* P치gina Product Page*/

.pd-main {
    width: 90%;
    margin: 0 auto;
}

main h2 .pd-titulo {
    font-style: bold;
    font-size: 20px;
    line-height: 28px;
}

.pack-customized, .pd-product {
    margin: 10px;
    font-family: 'Montagu Slab', serif;
    box-shadow: 0 0 10px rgb(100,100,100);
}

.pd-img-product {
    width: 100%;
}

.pd-datos-cerveza {
    border-top: 1px solid #ebebeb;
    text-align: center;
    padding: 15px;
    font-family: 'Montagu Slab', serif;
}

main section article .pd-seleccionar {
    font-family: 'Montagu Slab', serif;
    background-color: #ff6200;
    list-style: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
}


@media (min-width: 361px){
    .main-header-top-bar{
        display: flex;
        align-items: center;
        justify-content: start; /* SINO SPACE-BETWEEN que distribuye los elemntos de la barra de una manera homogenea*/
        height: 100px;
    }

    .logo{
        width: 150px;
    }

    .text-header{
        max-width: 350px;
        text-align: right;  
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        margin: 0 15px; 
     }
     .left-navbar{ /*pone los elementos de la lista en linea*/
         display: flex;
         width: 100%;
         margin: 0 15px; 
         flex-direction: column;
         align-items: flex-start;
     }
     .rigth-navbar{ /*pone los elementos de la lista en linea*/
        display: flex;
        align-items: center;
        justify-content: space-around; 
        width: 100%;
        flex-direction: column;
         align-items: flex-start;
    }

  .secondary-navbar{    
      justify-content: space-around;
}
    /* P치gina Product Page*/

    .pack-customized, .pd-product {
        flex: 30%;
        margin: 40px;
    }

    main .pd-tienda {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    main .pd-titulo {
        margin: 20px;
    }

    /* P치gina Product Detail*/

    .pd-product-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px;
    }

    .pd-product-area .pd-product-info h4, .pd-product-area .pd-product-info  >  p {
        margin: 15px 0;
    }

    .pd-product-area .pd-product-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5px;
    }

    .pd-product-area .pd-product-form [type="checkbox"] {
        margin: 4px;
        padding: 5px;
    }
    .pd-product-area .pd-product-form h4 {
        padding: 4px 0;
        margin: 4px 0;
    }

    section .pd-product-imgs {
        align-items: flex-start;
        margin: 25px 50px 70px 50px;
        flex: 30%;
        width: 80%;        
    }
    section .pd-product-info {
        align-items: flex-start;
        flex: 40%;
        margin: 10px;
        font-family: 'Montagu Slab', serif;
        width: 100%;
    }

    section div .pd-beer-attributes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        font-family: 'Montagu Slab', serif;
    }

    
    section div .pd-beer-attributes li{
        justify-content: left;
        list-style-type: none;
    }


    section .pd-product-imgs img {
        width: 100%;
    }

    section div .pd-product-form {
        display: flex;
        align-items: flex-start;
    }
    section div .pd-product-form .quantity{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: baseline;
        margin: 5px 0;
    }
    section div .pd-product-form .quantity .quantity-label {
        margin: 0 30px 0 0;
    }

    section div .pd-product-form .quantity input[type="button"] {
        padding: 0 5px;
        min-width: 25px;
        height: 25px;
        border: 1px solid #c4c4c4;
        background: transparent;
        box-shadow: none;
    }

    section div .pd-product-form .quantity input[type="number"] {
        width: 30px;
        height: 25px;
        border-radius: 0;
        border: 1px solid #c4c4c4;
        border-right: none;
        border-left: none;
        text-align: center;
    }

    section div .pd-product-form .quantity .minus {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor: pointer;
    }

    section div .pd-product-form .quantity .plus {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    section div .pd-product-form .quantity h5 {
        margin: 0 0 0 20px;
    }

    .pd-product-area .pd-options {
        display: flex;
        flex-direction: row-reverse;
    }


    .pd-product-area .pd-options button {
        padding: 5px;
        margin: 5px;
        font-family: 'Montagu Slab', serif;
        background-color: #000000;
        color:#ffDA4D;
        border: none;
        border-radius: 4px;
        align-items: right;
        cursor: pointer;
    }
       
    .secondary-navbar{
        justify-content: center;
    }

    .main-footer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .div-content-logoFooter{
        flex: 100%;
        padding: 0px 125px;
        text-align: center;
        margin: 0 auto;
    }
    
    .footer-links{
        flex: 40%;
    }
    .footer-social-media{
        flex: 40%;
        align-items: flex-end;
    }


@media (min-width:760px){

    .main-navbar{
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
        margin: auto;
    }

    .logo{
        width: 50px;
        flex: 10%;
    }

    .main-navbar ul{
        display: flex;
        justify-content: space-between;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
    }

    .left-navbar{ /*pone los elementos de la lista en linea*/
        display: flex;
        width: 100%;
        margin: 0 15px; 
        flex-direction: row;
        align-items: flex-start;
    }
    .rigth-navbar{ /*pone los elementos de la lista en linea*/
       display: flex;
       width: 100%;
       margin: 0 15px; 
       flex-direction: row;
       align-items: flex-end;
   }

    .div-content-logoFooter{
        flex: 30%;
        padding: 10px 0;
        text-align: center;
        margin: 0 auto;
    }
    .footer-links{
        flex: 30%;
    }
    .footer-social-media{
        flex: 30%;
        align-items: flex-end;
    }

}

@media (min-width:1200px){
    .logo{
        width: 140px;
    }

    .main-header-top-bar{
        align-items: center;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1400px;
        margin: auto;
    }
    .text-header{
        margin: 0;
        max-width: none;
        text-align: center;  
    }
    .main-navbar li{ /*pone espacios entre los elementos de las listas */
        margin: 0 25px; 
    }
    .main-navbar a{
        font-size: 16px;
    }
    /*FOOTER*/
    div.footer-topbar{
        max-width: 1400px;
        margin: auto;
    }
    footer{
        background-color:#000000;
    }

    /* P치gina Product Page*/

    .pack-customized, .pd-product {
        flex: 30%;
        margin: 30px;
    }

    main .pd-tienda {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    main .pd-titulo {
        margin: 20px;
    }

}
}