<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>

    <main class="pc-main">
        <section class="pc-cart">
            
             
            <div class="pc-product-group">
                <div class="pc-product-cantidad">
                        <div class="pc-quantity">
                            <div class="pc-counter">
                                <div class="pc-product-carrito"> 
                                    <div class="pc-product">
                                        <img class="pc-img-product" src="/images/img-beer-temporary.jpg" alt="beer">
                                    </div>
                                </div>
                                <div class="pc-contenedor-quantity-botoon">
                                    <div class="pc-quantity-descripcion">
                                        <label class="pc-quantity-label-det" for="botella500">Botella 500 ml</label>
                                    </div>
                                    <div class="pc-quantity-botones">
                                        <input type="button" id="decrease" value="-" class="minus">
                                        <input type="number" class="pc-product-quantity" step="1" min="0" max="17" name="quantity"
                                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                                        <input type="button" id="increase" value="+" class="plus">
                                        <label class="pc-counter-label-det-valor" for="botella500">ARS 250</label> 
                                        <button class="pc-eliminar-a"> <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="pc-counter">
                                <div class="pc-product-carrito"> 
                                    <div class="pc-product">
                                        <img class="pc-img-product" src="/images/img-beer-temporary.jpg" alt="beer">
                                    </div>
                                </div>
                                <div class="pc-contenedor-quantity-botoon">
                                    <div class="pc-quantity-descripcion">
                                        <label class="pc-quantity-label-det" for="botella1l">Botella 1 lt</label>
                                    </div>
                                    <div class="pc-quantity-botones">
                                        <input type="button" id="decrease" value="-" class="minus">
                                        <input type="number" class="pc-product-quantity" step="1" min="0" max="17" name="quantity"
                                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                                        <input type="button" id="increase" value="+" class="plus">
                                        <label class="pc-counter-label-det-valor" for="botella500">ARS 500</label>  
                                        <button class="pc-eliminar-a"> <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="pc-counter">
                                <div class="pc-product-carrito"> 
                                    <div class="pc-product">
                                        <img class="pc-img-product" src="/images/img-beer-temporary.jpg" alt="beer">
                                    </div>
                                </div>
                                <div class="pc-contenedor-quantity-botoon">
                                    <div class="pc-quantity-descripcion">
                                        <label class="pc-quantity-label-det" for="botella1l">Pack x 6 - 500 ml</label>
                                    </div>
                                    <div class="pc-quantity-botones">
                                        <input type="button" id="decrease" value="-" class="minus">
                                        <input type="number" class="pc-product-quantity" step="1" min="0" max="17" name="quantity"
                                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                                        <input type="button" id="increase" value="+" class="plus">
                                        <label class="pc-counter-label-det-valor" for="botella500">ARS 800</label>  
                                        <button class="pc-eliminar-a"> <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="pc-counter">
                                <div class="pc-product-carrito"> 
                                    <div class="pc-product">
                                        <img class="pc-img-product" src="/images/img-beer-temporary.jpg" alt="beer">
                                    </div>
                                </div>
                                <div class="pc-contenedor-quantity-botoon">
                                    <div class="pc-quantity-descripcion">
                                        <label class="pc-quantity-label-det" for="pack61l">Pack x 6 - 1 lt</label>
                                    </div>
                                    <div class="pc-quantity-botones">
                                        <input type="button" id="decrease" value="-" class="minus">
                                        <input type="number" class="pc-product-quantity" step="1" min="0" max="17" name="quantity"
                                            value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                                        <input type="button" id="increase" value="+" class="plus">
                                        <label class="pc-counter-label-det-valor" for="botella500">ARS 1200</label> 
                                        <button class="pc-eliminar-a"> <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="pc-options">
                                <button class="pc-options-button lg-button" >Limpiar</button>
                            </div>    
                        </div>
                        <div class="pc-direccionEnvio">
                            <div class="pc-direccionEnvio-detalle">
                                <label class="pc-direccionEnvio-detalle-texto" >Dirección envío</label> 
                                <label class="pc-direccionEnvio-detalle-texto" >Código Postal</label> 
                            </div>
                            <div class="pc-direccionEnvio-valor">
                                <input type="text" class="pc-DireccionEnvio-Titulo-caja-texto" name="quantity"
                                    value="Julio A. Roca 1826" title="Cantidad" placeholder="" inputmode="text">
                                <input type="text" class="pc-DireccionEnvio-Titulo-caja-texto" name="quantity"
                                    value="B6237" title="Cantidad" placeholder="" inputmode="text">
                            </div>
                           
                        </div>
                        <div class="pc-options">
                            <button class="pc-options-button lg-button" >Calcular</button>
                        </div>   
                        
                </div>

            </div>

           

            <div class="pc-ResumenCompra">
                <div class="pc-ResumenCompra-Titulo">
                    <label class="pc-quantity-label-det" >Resumen de Compra</label>
                </div>
                <div class="pc-ResumenCompra-Subtotal">
                    <div class="pc-ResumenCompra-Subtotal-texto">
                        <div class="pc-ResumenCompra-detalle">
                            <label class="pc-ResumenCompra-detalle-texto" >Subtotal</label> 
                        </div>
                        <div class="pc-ResumenCompra-detalle">
                            <label class="pc-ResumenCompra-detalle-texto" >Descuento</label> 
                        </div>
                        <div class="pc-ResumenCompra-detalle">
                            <label class="pc-ResumenCompra-detalle-texto" >Envío</label> 
                        </div>
                        <div class="pc-ResumenCompra-detalle">
                            <label class="pc-ResumenCompra-detalle-texto" >Total</label> 
                        </div>
                        
                    </div>

                    <div class="pc-ResumenCompra-Subtotal-valores">
                        <input type="text" class="pc-ResumenCompra-Titulo-caja-texto" name="quantity"
                                    value="ARS 1050" title="Cantidad" placeholder="" inputmode="text">
                        <input type="text" class="pc-ResumenCompra-Titulo-caja-texto" name="quantity"
                                    value="ARS 0" title="Cantidad" placeholder="" inputmode="text">
                        <input type="text" class="pc-ResumenCompra-Titulo-caja-texto" name="quantity"
                                    value="ARS 0" title="Cantidad" placeholder="" inputmode="text">
                        <input type="text" class="pc-ResumenCompra-Titulo-caja-texto" name="quantity"
                                    value="ARS 1050" title="Cantidad" placeholder="" inputmode="text">
                    </div>  
                      
                </div>
                <div class="pc-ResumenCompra-Subtotal"></div>
                <div class="pc-options">
                    <button class="pc-options-button lg-button">Finalizar Compra</button>
                </div> 
                </div>     
                
               
            </div>
            
        </div>

    </main>
 
    
   
    
    <!-- Footer-->
    <%- include("../partials/footer") %>

</body>

</html>