<!DOCTYPE html>
<html lang="en">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="654446761891-94el9afoph3rne3p950dsv8pcvns6024.apps.googleusercontent.com">
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
</script>
<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <section>
       
        <div">
            <label><h3>LOGIN DE USUARIO</h3></label>
            <div class="lg-div-login lg-input">
                <button class="lg-button g-signin2" data-onsuccess="onSignIn"><i class="fa-brands fa-google"> Ingresar con Google </i></button>
                <button class="lg-button "><i class="fa-brands fa-facebook-f"> Ingresar con Facebook </i></button>
            </div>
            <form action="/users/login" method="POST" class="lg-form-login rg-form">
                <div>
                    <label>Email</label>
                    <input type="email" name="email" id="email" class="lg-input">                    
                    <div class="text-danger" id="msgFront_email">
                            <% if (locals.errors && errors.email) { %>
                                <%= errors.email.msg %>
                            <% } %>
                    </div>
                </div>
                <div>
                    <label>Constraseña</label>
                    <input type="password" name="password" id="password" class="lg-input">
                    <div class="text-danger" id="msgFront_password">
                </div>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="remember_user"> Recordar mi usuario
                    </label>
                </div>
                
                <button type="submit" class="lg-submit">Ingresar</button>
            </form>
           
            <div class="lg-input">
            <h4>¿No tenés cuenta?
            <a href="/users/register" class="lg-a">Registrate acá</a></h4>
        </div>
        </div>
    </section>


    
    <!-- Footer-->
    <div style="margin-top:175px"> </div>
    <%- include("../partials/footer") %>
    <script src="/Js/loginFront.js"></script>
</body>
</html>