<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <section> 
        <form action="/users/register" class="rg-form" method="POST">
            <input type="text" name="name"placeholder="Nombre" class="rg-input">
            <input type="text" name="lastName" placeholder="Apellido" class="rg-input">
            <input type="text" name="email" placeholder="Email" class="rg-input">
            <input type="text" name="adress" placeholder="Direccion" class="rg-input">
            <input type="date" name="birthDate" placeholder="Fecha de nacimiento" class="rg-input">
            <input type="password" name="pass" placeholder="Contraseña" class="rg-input">
            <input type="password" placeholder="Contraseña" class="rg-input">
            <div class="rg-btn-div">
                <input type="submit" name="" id="rg-submit" class="rg-submit">
                <input type="reset" class="rg-reset">
            </div>
            
        </form>       
    </section>
    <!-- Footer-->
    <%- include("../partials/footer") %>
</body>
</html>