<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

    <body>
        <!-- Header-->
        <%- include("../partials/header") %>

        <!--PÁGINA AÚN NO TRABAJADA-->
        
            <div class="nr-main-containter">
            <h3>Administracion de Recetas</h3>
            <form action="/recetas/nuevaReceta/" method="POST">
         
            
            <h5><input type="text" name="name"></h5>
                 
                <div class="nr-information-container">
                <div class="nr-information">
                    <h4>Básicos</h4>
                    <ul class="pd-beer-attributes">
                        <li>
                            <h6>Volumen: </h6>
                            <p><input type="text" name="volume"> lts.</p>
                        </li>
                        <li>
                            <h6>Volumen de hervor: </h6>
                            <p><input type="text" name="boilvolume">lts.</p>
                        </li>
                        <li>
                            <h6>Duración del hervor: </h6>
                            <p><input type="text" name="boilTime">lts.</p>
                        </li>
                        <li>
                            <h6>Alcohol: </h6>
                            <p><input type="text" name="alcohol"> %</p>
                        </li>
                        <li>
                            <h6>Densidad final: </h6>
                            <p><input type="text" name="targetFG"></p>
                        </li>
                        <li>
                            <h6>Densidad inicial: </h6>
                            <p><input type="text" name="targetOG"></p>
                        </li>
                        <li>
                            <h6>PH inicial: </h6>
                            <p><input type="text" name="initialPH"></p>
                        </li>
                        <li>
                            <h6>PH final: </h6>
                            <p><input type="text" name="finalPH"></p>
                        </li>
                        
                    </ul>
                </div>

                <div class="nr-information">
                    <h4>Método y tiempos</h4>
                    <ul class="pd-beer-attributes">
                        <li>
                            <h6>Macerado: </h6>
                            <p><input type="text" name="mashTemp">° - <input type="text" name="mashTime"> min.</p>
                        </li>
                        <li>
                            <h6>Fermentación: </h6>
                            <p><input type="text" name="fermentationTemp">°</p>
                        </li>
                    </ul>
                </div>

                <div class="nr-information">
                    <h4>Ingredientes</h4>
                    <ul class="pd-beer-attributes">
                        <li>
                            <h6>Maltas: </h6> </br>
                            <p><input type="text" name="malt1">: <input type="text" name="malt1Amount"> </p></br>
                            <p><input type="text" name="malt2">: <input type="text" name="malt2Amount"> </p></br>
                            <p><input type="text" name="malt3">: <input type="text" name="malt3Amount"> </p></br>
                            <p><input type="text" name="malt4">: <input type="text" name="malt4Amount"> </p></br>
                            <p><input type="text" name="malt5">: <input type="text" name="malt5Amount"> </p></br>
                            
                        </li>
                        <li>
                            <h6>Lúpulo/s: </h6>
                            <p><input type="text" name="hop1">: <input type="text" name="hop1Amount"> <input type="text" name="hop1Moment"> min.</p></br>
                            <p><input type="text" name="hop2">: <input type="text" name="hop2Amount"> <input type="text" name="hop2Moment"> min.</p></br>
                            <p><input type="text" name="hop3">: <input type="text" name="hop3Amount"> <input type="text" name="hop3Moment"> min.</p></br>
                        </li>
                        <li>
                            <h6>Levadura: </h6> </br>
                            <p><input type="text" name="yeast">: <input type="text" name="yeastAmount"> gr. </p></br>
                            
                        </li>
                    </ul>
                </div>
                </div>
                <div class="nr-tip-container">
                <div class="nr-tip">
                    <h4>Tip cervecero</h4>
                    <p><input type="text" name="brewerTip"></p>
                </div>
                <div class="nr-tip">
                    <h4>Maridaje</h4>
                    <p><input type="text" name="foodPairing"></p>
                </div>
                </div>
                <input class="pd-admin" type="submit" value="Guardar">

           </form>

            <!-- Footer-->
            <%- include("../partials/footer") %>
    </body>

</html>