<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

    <body>
        <!-- Header-->
        <%- include("../partials/header") %>
        
        <div class="nr-main-containter">
            <h3>Nueva receta</h3> <br>
            <form action="/recetas/nuevareceta" method="POST" id="formRecipes">

                <section class="ra-details-container">

                    <div class="ra-name">
                        <h5 class="receta-name">Nombre</h5>
                        <div class="text-danger" id="msgFront_name"> </div>
                        <input type="text" name="name" id="msgFront_name">
                       
                        
                    </div>
                    
                    <div class="ra-receta-container">

                        <div class="ra-information-container">
                            <div class="ra-information-block">
                                <div class="ra-information">
                                    <h4>Completá los datos básicos</h4>
                                    <ul class="ra-beer-attributes">
                                        <li>
                                            <h6>Volumen: </h6>
                                            <p class="text-danger" id="msgFront_volume"> </p>
                                            <p> <input type="text" name="volume" id="msgFront_volume"> lts.</p>
                                          
                                        </li>
                                       
                                        <li>
                                            <h6>Volumen de hervor: </h6>
                                            <p class="text-danger" id="msgFront_boilvolume"></p>
                                            <p><input type="text" name="boilvolume" id="msgFront_boilvolume">lts.</p>
                                        </li>
                                        <li>
                                            <h6>Duración del hervor: </h6>
                                            <p class="text-danger" id="msgFront_boilTime"></p>
                                            <p><input type="text" name="boilTime" id="msgFront_boilTime">lts.</p>

                                        </li>
                                        <li>
                                            <h6>Alcohol: </h6>
                                            <p class="text-danger" id="msgFront_alcohol"></p>
                                            <p><input type="text" name="alcohol" id="msgFront_alcohol"> %</p>
                                        </li>
                                        <li>
                                            <h6>Densidad final: </h6>
                                            <p class="text-danger" id="msgFront_targetFG"></p>
                                            <p><input type="text" name="targetFG" id="msgFront_targetFG"></p>
                                        </li>
                                        <li>
                                            <h6>Densidad inicial: </h6>
                                            <p class="text-danger" id="msgFront_targetOG"></p>
                                            <p><input type="text" name="targetOG"  id="msgFront_targetOG"></p>
                                        </li>
                                        <li>
                                            <h6>PH inicial: </h6>
                                            <p class="text-danger" id="msgFront_initialPH"></p>
                                            <p><input type="text" name="initialPH" id="msgFront_initialPH"></p>
                                        </li>
                                        <li>
                                            <h6>PH final: </h6>
                                            <p class="text-danger" id="msgFront_finalPH"></p>
                                            <p><input type="text" name="finalPH" id="msgFront_finalPH"></p>
                                        </li>
                                    </ul>
                                </div><br>

                                <div class="ra-information">
                                    <h4>Completa los datos de método y tiempos</h4>
                                    <ul class="ra-information-attributes">
                                        <li class="ra-li-malt">
                                            <h6>Macerado </h6>

                                            <h6>Temperatura de maceración: </h6>
                                        <p> <input type="text" name="mashTemp"> ° (grados celsius)</p>

                                            <h6>Tiempo de maceración: </h6>
                                        <p>  <input type="text" name="mashTime"> minutos</p>

                                        </li>
                                        <li class="ra-li-malt">
                                            <h6>Fermentación </h6>
                                            <h6>Temperatura de fermentación: </h6>
                                            <p><input type="text" name="fermentationTemp"> grados
                                        </li>
                                    </ul>
                                </div>

                                <div class="ra-information">
                                    <h4>Ingredientes</h4>
                                    <p>Completá solo los campos aplicables.</p><br>
                                    <ul class="ra-information-attributes">
                                        <li class="ra-li-malt">
                                            <h6>Maltas</h6>
                                            <h6>Malta principal: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><p><input type="text" name="malt1">
                                                <p>Cantidad:</p><input type="text" name="malt1Amount">
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><p><input type="text" name="malt2">
                                                    <p>Cantidad:</p><input type="text" name="malt2Amount">
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><p><input type="text" name="malt3">
                                                <p>Cantidad:</p><input type="text" name="malt3Amount">
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><p><input type="text" name="malt4">
                                                    <p>Cantidad:</p><input type="text" name="malt4Amount">
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><p><input type="text" name="malt5">
                                                    <p>Cantidad:</p><input type="text" name="malt5Amount">
                                            </div>
                                        </li>
                                        <li class="ra-li-hop">
                                            <h6>Lúpulo/s: </h6>

                                            <h6>Lúpulo principal: </h6>
                                            <div>
                                                <p>Tipo de lúpulo:</p><input type="text" name="hop1">
                                                <p>Cantidad: </p> <input type="text" name="hop1Amount">
                                                <p>Momento de adición:</p><input type="text" name="hop1Moment">
                                            </div>
                                            <h6>Lúpulo adicional: </h6>
                                            <div>
                                                <p>Tipo de lúpulo:</p><input type="text" name="hop2">
                                                <p>Cantidad: </p> <input type="text" name="hop2Amount">
                                                <p>Momento de adición:</p><input type="text" name="hop2Moment">
                                            </div>
                                            <h6>Lúpulo adicional: </h6>
                                            <div>
                                                <p>Tipo de lúpulo:</p><input type="text" name="hop3">
                                                <p>Cantidad: </p> <input type="text" name="hop3Amount">
                                                <p>Momento de adición:</p><input type="text" name="hop3Moment">
                                            </div>
                                        </li>
                                        <li class="ra-li-malt">
                                            <h6>Levadura: </h6>
                                            <div>
                                                <p>Tipo de levadura:</p><input type="text" name="yeast">
                                                <p>Cantidad:</p><input type="text" name="yeastAmount">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ra-tip-container">
                                <div class="ra-tip">
                                    <h4>Tip cervecero</h4>
                                    <p>Redactá una recmendación <input type="text" name="brewerTip"></p>
                                </div>
                                <div class="ra-tip">
                                    <h4>Maridaje</h4>
                                    <p>¿Combina bien con qué comida/s?
                                        <input type="text" name="foodPairing">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="pd-admin" type="submit" id="msgFront_submit">Guardar</button>
                        <button class="pd-admin ra-edit" type="reset" id="msgFront_reset"></a>Cancelar cambios</a></button>
                    </div>
                </section>
            </form>
        </div>

            <!-- Footer-->
            <%- include("../partials/footer") %>
            <script src="/js/recipesFront.js"></script>
    </body>

</html>